autostart/
Code/
configstore/
dconf/
digikamrc
enchant/
eog/
evolution/
gedit/
geeqie/
GIMP/
gnome-control-center/
gnome-initial-setup-done
gnome-session/
goa-1.0/
gtk-3.0/
htop/
libreoffice/
matplotlib/
menus/
mimeapps.list
mpv/
nautilus/
neofetch/
obs-studio/
procps/
pulse/
QtProject.conf
sqlitebrowser/
Thunar/
update-notifier/
vlc/
wireshark/
xfce4/
